@page "/deposits"

@using Microsoft.AspNetCore.Components.Web
@using MudBlazor

<PageTitle>
    Deposits
</PageTitle>

@if (_isPageLoading)
{
    <div class="loader-container">
        <MudProgressCircular Color="Color.Primary" 
                             Style="height: 10%; width: 10%;" 
                             Indeterminate="true"/>
    </div>
}
else
{
    <div style="padding: 5px;"></div>
    <MudPaper Elevation="0"
              Class="border">
        <MudText Typo="Typo.h6"
                 Class="px-4 py-2">
            Deposits
        </MudText>
    </MudPaper>
}