@page "/"

@using Microsoft.AspNetCore.Components.Web
@using HomeAccounting.UI.Shared.Components

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>